@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Popins', sans-serif;
    padding: 0; margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration:none;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 6px;
}
body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: orange;
}
.form_connexion_inscription{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    width: 350px;
    padding: 30px;
    border-radius: 6px;
    box-shadow:0 0 10px 0 rgb(0,0,0,0.1);
}
.form_connexion_inscription .message_error{
    color: rgb(245, 18, 18);
    font-size: 15px;
    font-weight: 400;
}
.form_connexion_inscription label{
    margin: 2px 0;
}
.form_connexion_inscription input{
    padding: 5px;
    outline: 0;
    border-radius: 6px;
    border: 1px solid #999;
}
.form_connexion_inscription input[type='submit']{
    margin-top: 20px;
    background-color: blue;
    border: 1px solid blue;
    color:#fff;
}
.form_connexion_inscription .link{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
.link a{
    color: blue;
    font-size: 14px;
    text-decoration: 0;
}
.link a:hover{
    text-decoration: underline;
}


.chat{
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
}
.button-email{
    font-size: 13px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.Deconnexion_btn{
    padding: 5px 20px;
    color: #fff;
    background-color: blue;
    font-size: 13px;
    text-decoration: 0;
    border-radius: 6px;
}
.message_box{
    min-height: 360px;
    max-height: 360px;
    min-width: 400px;
    margin: 10px 0;
    overflow: auto;
    padding: 5px 10px;
    border-top: 1px solid #999;
}
.message_box .message{
    margin-bottom: 15px;
    padding: 8px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    width: 150px;
}
.message_box .message span{
    font-weight: bold;
    font-size: 14px;
}
.message_box p{
    word-break: break-all;
    font-size: 13px;
}
.your_message{
    border: 1px solid blue;
    border-radius: 10px 10px 10px 0;
}
.your_message span{
    color: blue;
}
.others_message{
    border: 3px solid #999;
    margin-left: auto;
    border-radius: 10px 10px 0 10px;
}
.others_message span{
    color: blue;
}
.date{
    color: #ccc;
}
.send_message{
    border-top:1px solid #999 ;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.send_message textarea{
    width: 100%;
    resize: none;
    border-radius: 6px;
    outline: 0;
    padding: 5px;
    font-size: 13px;
}
.send_message input[type='submit']{
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    border-radius: 6px;
    background-color: blue;
    color: #fff;
    font-size: 13px;
    border: 3px solid blue;
    cursor: pointer ;
}

.message_inscription{
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    background-color: green;
    color: #fff;
    font-size: 12px;
    border-radius: 6px;
}